.CouponCardCustomers {
    width: 300px;
    display: inline-table;
    text-align: left;
    background-image: linear-gradient(90deg, lightblue, white);

    background-size: contain;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    height: 180px;
    position: relative;
}

.CouponCardCustomers img {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 220px;
}

.CouponCardCustomers>button {
    position: absolute;
    left: 15px;
    bottom: 15px;
    transform: scale(1.5);
    border-radius: 5px;
    cursor: pointer;
}