.CustomerCard.Box {
    width: 300px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    background-image: linear-gradient(90deg, lightblue, white);
}

.CustomerCard img {
    padding: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
}

.CustomerCard>div:last-child {
    margin-left: auto;
}